<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <!-- Bootstrap -->


</head>
<title>SplashWash : Book Your wash</title>
<!-- <link rel="icon" type="image/x-icon" href="/img/favicon.ico"> -->
<link rel="apple-touch-icon" sizes="180x180" href="/img/flaticon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/flaticon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/flaticon/favicon-16x16.png">
<link rel="manifest" href="/img/flaticon/site.webmanifest">

<body>
    <%- include("nav") %>
        <style>
            section {
                margin-top: 20px;
                position: relative;

            }

            select {
                min-width: 300px;
                border: none;
                border: 1px solid #333;
                border-radius: 5px;
                height: 50px;
            }

            /* POPUP */


            .popup {
                width: 400px;
                background: white;
                border-radius: 6px;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%, -50%) scale(0.1);
                text-align: center;
                padding: 0 30px 30px;
                color: #333;
                visibility: hidden;
                transition: transform 0.4s, top 0.4s;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
            }

            .popup img {
                width: 100px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
                margin-top: -50px;
                border-radius: 50%;
            }

            .popup h2 {
                font-size: 38px;
                font-weight: 500;
                margin: 30px 0 10px;
            }

            .popup button {
                width: 100%;
                margin-top: 50px;
                padding: 10px 0;
                background: #6fd649;
                color: #fff;
                border: 0;
                outline: none;
                font-size: 18px;
                border-radius: 4px;
                cursor: pointer;
                box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
            }

            .open-popup {
                visibility: visible;
                top: 50%;
                transform: translate(-50%, -50%) scale(1);
            }

            /* ************************* */
        </style>
        <section id="book-section" class="bookSection">

            <div class="book-container">
                <div class="title">Book a Wash</div>

                <div class="content">
                    <form action="/book" id="book-form" method="POST">
                        <div class="user-details">
                            <div class="input-box">
                                <span class="details">Your Name</span>
                                <input type="text" name="name" required placeholder="Enter your name *"
                                    value="<%= name %>">
                            </div>
                            <div class="input-box">
                                <span class="details">Vehicle Number</span>
                                <input type="text" name="vehicleNumber" required placeholder="Enter Vehicle Number *">
                            </div>
                            <div class="input-box">
                                <span class="details">Email</span>
                                <input type="email" name="email" required placeholder="Enter your email *"
                                    value="<%= email %>">
                            </div>

                            <div class="input-box">
                                <span class="details">Your Location</span>
                                <input type="text" name="location" required placeholder="Enter your Location *">
                            </div>
                            <div class="input-box">
                                <span class="details">Phone Number</span>
                                <input type="text" name="number" required placeholder="Enter your number *">
                            </div>
                            <div class="input-box">
                                <span class="details">Enter Your Message</span>
                                <input type="text" name="message" placeholder="Enter Your Message">
                            </div>
                        </div>
                        <div class="gender-details">


                            <span class="gender-title">Vehicle Type</span>
                            <div class="category">

                                <select class="custom-select" name="vehicleType">
                                    <option selected>Vehicle Type</option>
                                    <option value="SUV">SUV</option>
                                    <option value="Sedan">Sedan</option>
                                    <option value="Hatchback">Hatchback</option>
                                    <option value="MUV">MUV</option>
                                    <option value="Bike">Bike</option>
                                    <option value="AutoRiksha">AutoRiksha</option>
                                </select>
                            </div>
                            <div class="book-btn">
                                <!-- Button trigger modal -->
                                <button type="submit" class="book-button btn">Book A Wash
                                </button>

                                <!-- Modal -->


                            </div>
                    </form>
                </div>
            </div>
            <div class="popup" id="popup">
                <img src="img/tick.png">
                <h2>Booking Successfull</h2>
                <p>Thank you for choosing our service. Our agent will contact you soon. Happy washing!</p>
                <button onclick="window.location='/bookings'">Done!</button>
            </div>
        </section>

        <%- include("footer") %>
            <script>
                const form = document.getElementById("book-form")
                form.addEventListener("submit", () => {
                    openPopup();

                })
                let popup = document.getElementById("popup")
                const section = document.getElementById("book-form")
                function openPopup() {
                    popup.classList.add("open-popup");
                    section.style.filter = "blur(8px)"

                }
            </script>
            <script src="js/main.js"></script>
</body>

</html>