<footer class="footer section">
    <div class="footer__container container grid">
        <ul class="footer__links">
            <li><a href="/privacy-policy" class="footer__link">Privacy Policy</a></li>
            <li><a href="/terms&conditions" class="footer__link">Terms and Conditions</a></li>
            <li><a href="/refund-policy" class="footer__link">Return and Refund Policy</a></li>

        </ul>

        <div class="footer__content">
            <h3 class="footer__title">Our Services</h3>
            <ul class="footer__links">
                <li><a href="#" class="footer__link">Discounts</a></li>
                <li><a href="#" class="footer__link">Pricing </a></li>
                <li><a href="#" class="footer__link">Report a bug</a></li>

            </ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">Our Company</h3>
            <ul class="footer__links">
                <li><a href="#" class="footer__link">Our mision</a></li>
                <li><a href="#" class="footer__link">Get in touch</a></li>
                <li><a href="#" class="footer__link">Discounts</a></li>

            </ul>
        </div>

        <div class="footer__content">
            <h3 class="footer__title">Community</h3>
            <ul class="footer__links">
                <li><a href="#" class="footer__link">Support</a></li>
                <li><a href="#" class="footer__link">Questions</a></li>
                <li><a href="/contact" class="footer__link">Contact Us</a></li>
            </ul>
        </div>

        <div class="footer__social">
            <a href="#" class="footer__social-link"><i class='bx bxl-facebook-circle '></i></a>
            <a href="#" class="footer__social-link"><i class='bx bxl-twitter'></i></a>
            <a href="https://www.instagram.com/splash_movable_auto_spa/" class="footer__social-link"><i
                    class='bx bxl-instagram-alt'></i></a>
            <a href="https://t.me/splash_movable_auto_spa" class="footer__social-link"><i
                    class='bx bxl-telegram'></i></a>




        </div>
    </div>

    <p class="footer__copy">&#169; Splash Wash Private Limited</p>
</footer>