<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!--=============== BOXICONS ===============-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="css/styles.css">
    <link href="img/flaticon/font/flaticon.css" rel="stylesheet">

    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/floating-wpp.min.js"></script>
    <link rel="stylesheet" href="css/floating-wpp.css">

    <title>SplashWash</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
</head>

<body>
    <style>
        .floating-wpp {
            position: fixed;
            bottom: 15px;
            left: 15px;
            font-size: 14px;
            transition: bottom 0.2s;
        }

        .floating-wpp .floating-wpp-button {
            position: relative;
            border-radius: 50%;
            box-shadow: 1px 1px 4px rgba(60, 60, 60, 0.4);
            transition: box-shadow 0.2s;
            cursor: pointer;
            overflow: hidden;
        }

        .floating-wpp .floating-wpp-button img,
        .floating-wpp .floating-wpp-button svg {
            position: absolute;
            width: 100%;
            height: auto;
            object-fit: cover;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            border-radius: 50%;
        }

        .floating-wpp:hover {
            bottom: 17px;
        }

        .floating-wpp:hover .floating-wpp-button {
            box-shadow: 1px 2px 8px rgba(60, 60, 60, 0.4);
        }

        .floating-wpp .floating-wpp-popup {
            /*border: 2px solid white;*/
            border-radius: 6px;
            background-color: #E5DDD5;
            position: absolute;
            overflow: hidden;
            padding: 0;
            box-shadow: 1px 2px 8px rgba(60, 60, 60, 0.25);
            width: 0px;
            height: 0px;
            bottom: 0;
            opacity: 0;
            transition: bottom 0.1s ease-out, opacity 0.2s ease-out;
            transform-origin: bottom;
        }

        .floating-wpp .floating-wpp-popup.active {
            padding: 0 12px 12px 12px;
            width: 260px;
            height: auto;
            bottom: 82px;
            opacity: 1;
        }

        .floating-wpp .floating-wpp-popup .floating-wpp-message {
            background-color: white;
            padding: 8px;
            border-radius: 0px 5px 5px 5px;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
            opacity: 0;
            transition: opacity 0.2s;
        }

        .floating-wpp .floating-wpp-popup.active .floating-wpp-message {
            opacity: 1;
            transition-delay: 0.2s;
        }

        .floating-wpp .floating-wpp-popup .floating-wpp-head {
            text-align: right;
            color: white;
            margin: 0 -15px 10px -15px;
            padding: 6px 12px;
            display: flex;
            justify-content: space-between;
            cursor: pointer;
        }

        .floating-wpp .floating-wpp-input-message {
            background-color: white;
            margin: 10px -15px -15px -15px;
            padding: 0 15px;
            display: flex;
            align-items: center;
        }

        .floating-wpp .floating-wpp-input-message textarea {
            border: 1px solid #ccc;
            border-radius: 4px;
            box-shadow: none;
            padding: 8px;
            margin: 10px 0;
            width: 100%;
            max-width: 100%;
            font-family: inherit;
            font-size: inherit;
            resize: none;
        }

        .floating-wpp .floating-wpp-btn-send {
            margin-left: 12px;
            font-size: 0;
            cursor: pointer;
        }
    </style>
    <!--=============== HEADER ===============-->
    <%- include("nav")%>

        <main class="main">
            <!--=============== HOME ===============-->
            <section class="home section" id="home">
                <div class="home__container container grid">

                    <div class="home__data">
                        <h1 class="home__title">Movable Auto <br> Spa is now near you..</h1>
                        <p class="home__description">Movable auto spa is now near you book your Vehicle now itself..</p>
                        <a href="/services" class="button">Book a Wash</a>

                    </div>
                    <div class="img">
                        <img src="img/Car wash-bro.svg" alt="">
                    </div>
                </div>
                <div id="myButton"></div>
            </section>
            <!--=============== Services ===============-->

            <section class="services section container" id="services">
                <h2 class="section__title">Here is the Services We <br> Offer</h2>
                <div class="services__container grid">
                    <div class="services__data">
                        <h3 class="services__subtitle">Bike Washing</h3>
                        <img src="img/Vehicle Sale-rafiki.svg" alt="">

                        <p class="services__description">We wash your bike and make it shiny</p>
                        <div>
                            <a href="/services" class="button button-link">Wash My Bike</a>
                        </div>
                    </div>

                    <div class="services__data">
                        <h3 class="services__subtitle">Car washing</h3>
                        <img src="img/Car finance-pana (1).svg" alt="">

                        <p class="services__description">We Wash your car at your home or at the place where your
                            location.
                        </p>
                        <div>
                            <a href="/services" class="button button-link">Wash My Car</a>
                        </div>
                    </div>

                    <div class="services__data">
                        <h3 class="services__subtitle">Online Payment available</h3>
                        <img src="img/Successful purchase-cuate.svg" alt="">
                        <p class="services__description">In our app you can pay online and book your wash>
                        <div>
                            <a href="/services" class="button button-link">Pay online</a>
                        </div>
                    </div>
                </div>
            </section>

            <!--=============== ABOUT ===============-->

            <section class="about section container" id="about">

                <div class="about__container grid">
                    <img src="img/About us page-cuate.svg" alt="">
                    <div class="about__data">
                        <h2 class="section__title-center">Find Out A Little More <br> About Us</h2>
                        <p class="about__description">We are a company dedicated for wash your vehicle at your location
                            or
                            at your home or to the place where you are now, with the best quality ever we need.
                        </p>
                    </div>


                </div>
            </section>

            <!--=============== SECURITY ===============-->
            <section class="security section container">
                <div class="security__container grid">
                    <div class="security__data">
                        <h2 class="section__title-center">Your Safety Is <br> Important</h2>
                        <p class="security__description">Your order is always saftey and your payment is always secure.
                        </p>
                    </div>
                    <img src="img/Security-cuate.svg" alt="">

                </div>
            </section>


        </main>

        <!--=============== FOOTER ===============-->

        <%- include("footer") %>
            <script type="text/javascript">
                $(function () {
                    $('#myButton').floatingWhatsApp({
                        phone: '+918714857005',
                        popupMessage: 'Hello, how can we help you?',
                        message: "I'd like to wash my car!",
                        showPopup: true,
                        showOnIE: false,
                        headerTitle: 'Whatsapp Chat!',
                        position: "right",
                        buttonImage: '<img src="img/whatsapp.svg" />'
                    });
                });
            </script>
            <script src="js/main.js"></script>


</body>

</html>