<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

    <title>SplashWash : Login</title>
    <!-- <link rel="icon" type="image/x-icon" href="/img/favicon.ico"> -->
    <link rel="apple-touch-icon" sizes="180x180" href="/img/flaticon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/flaticon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/flaticon/favicon-16x16.png">
    <link rel="manifest" href="/img/flaticon/site.webmanifest">
</head>

<body>
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
        }

        .flex-r,
        .flex-c {
            justify-content: center;
            align-items: center;
            display: flex;
        }

        .flex-c {
            flex-direction: column;
        }

        .flex-r {
            flex-direction: row;
        }

        .container {
            width: 100%;
            min-height: 100vh;
            padding: 20px 10px;
            background: #e5e5e5;
        }

        .login-text {
            background-color: #f6f6f6;
            max-width: 400px;
            min-height: 500px;
            border-radius: 10px;
            padding: 10px 20px;
        }

        .logo {
            margin-bottom: 20px;

        }

        .logo img {
            margin-top: 10px;
            width: 100px;
        }

        .login-text h1 {
            font-size: 25px;
            text-align: center;
        }

        .login-text p {
            font-size: 15px;
            color: #000000b2;
        }

        form {
            align-items: flex-start !important;
            width: 100%;
            margin-top: 15px;
        }

        .input-box {
            margin: 10px 0px;
            width: 100%;
        }

        .label {
            font-size: 15px;
            color: black;
            margin-bottom: 3px;
        }

        .input {
            background-color: #f6f6f6;
            padding: 0px 5px;
            border: 2px solid rgba(216, 216, 216, 1);
            border-radius: 10px;
            overflow: hidden;
            justify-content: flex-start;
        }

        input {
            border: none;
            outline: none;
            padding: 10px 5px;
            background-color: #f6f6f6;
            flex: 1;
        }

        .input i {
            color: rgba(0, 0, 0, 0.4);
        }

        .check span {
            color: #000000b2;
            font-size: 15px;
            font-weight: bold;
            margin-left: 5px;
        }

        .btn {
            color: #ffffff;
            border-radius: 30px;
            padding: 10px 15px;
            background: linear-gradient(122.33deg, #68bed1 30.62%, #1e94e9 100%);
            margin-top: 30px;
            margin-bottom: 10px;
            font-size: 16px;
            transition: all 0.3s linear;
            border: none;
        }

        .btn:hover {
            transform: translateY(-2px);
        }

        .extra-line {
            font-size: 15px;
            font-weight: 600;
        }

        .extra-line a {
            color: #0095b6;
        }
    </style>
    <div class=" flex-r container">
        <div class="flex-r login-wrapper">
            <div class="login-text">
                <div class="logo">
                    <img src="/img/splash.png" />
                </div>
                <h1>Sign In</h1>
                <p>It's not long before you embark on this journey! </p>

                <form class="flex-c" id="loginForm" method="POST" action="/login">
                    <% if(messages.error){ %>
                        <p style="color: red;">
                            <%= messages.error %>
                        </p>
                        <% } %>
                            <div class="input-box">
                                <span class="label">E-mail</span>
                                <div class=" flex-r input">
                                    <input type="text" placeholder="name@abc.com" name="email">
                                    <i class="fas fa-at"></i>
                                </div>
                            </div>

                            <div class="input-box">
                                <span class="label">Password</span>
                                <div class="flex-r input">
                                    <input type="password" placeholder="8+ (a, A, 1, #)" name="password">
                                    <i class="fas fa-lock"></i>
                                </div>
                            </div>

                            <button type="submit" class="btn">Sign In</button>
                            <span class="extra-line">
                                <span>Don't have an account?</span>
                                <a href="/register">Register</a>
                            </span>
                </form>

            </div>
        </div>
    </div>
</body>

</html>
<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
    <!-- bootstrap -->

<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --> -->


<!-- <script defer src="js/main.js"></script> -->
<!-- </head>

<body class="login-main-div">
    <div class="container login-container">
        <div class="row">
            <div class="col-md-4 login-form-1">

                <form action="/login" method="POST" id="loginForm">
                    <h3>LOGIN</h3>
                    <% if(messages.error){ %>
                        <p class="text-danger">
                            <%= messages.error %>
                        </p>
                        <% } %>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your Email *" name="email"
                                    id="loginEmail" required />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Your Password *"
                                    name="password" id="loginPassword" required />
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btnSubmit btn btn-dark">login</button>
                            </div>
                            <div class="form-group">
                                <a href="/register" class="btnForgetPwd">Click Here to Register</a><br>
                            </div>
                </form>
            </div>
        </div>
    </div> -->

<!--=============== MAIN JS ===============-->
<!-- <script>
        const form = document.getElementById("loginForm")

        async function signIn(event) {
            event.preventDefault();

            const email = document.getElementById("loginEmail").value;
            const password = document.getElementById("loginPassword").value;

            const result = await fetch("/login", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    email,
                    password
                })
            })
            console.log(result);
        }

        form.addEventListener("submit", signIn)
    </script> -->

</body>


</html>
<!------ Include the above in your HEAD tag ---------->