<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <!--=============== BOXICONS ===============-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="css/styles.css">
    <link href="img/flaticon/font/flaticon.css" rel="stylesheet">

    <title>Responsive website delivery</title>
</head>

<body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

        * {

            font-family: 'Comfortaa', cursive;

            margin: 0;

            padding: 0;

            box-sizing: border-box;

        }

        .service-container {
            max-width: 1200px;
            margin: 100px auto;

        }

        .service-container>h1 {

            padding: 20px 0;

        }

        .cart {

            display: flex;

        }

        .products {

            flex: 0.75;

        }

        .product {

            display: flex;

            width: 100%;

            height: 200px;

            overflow: hidden;

            border: 1px solid silver;

            margin-bottom: 20px;

        }

        .product:hover {

            border: none;

            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

            transform: scale(1.01);

        }

        .product>img {

            width: 300px;

            height: 200px;

            object-fit: cover;

        }

        .product>img:hover {

            transform: scale(1.04);

        }

        .product-info {

            padding: 20px;

            width: 100%;

            position: relative;

        }

        .product-name,
        .product-price,
        .product-offer {

            margin-bottom: 20px;

        }

        .product-remove {

            position: absolute;

            bottom: 20px;

            right: 20px;

            padding: 10px 25px;

            background-color: green;

            color: white;

            cursor: pointer;

            border-radius: 5px;

        }

        .product-remove:hover {

            background-color: white;

            color: green;

            font-weight: 600;

            border: 1px solid green;

        }

        .product-quantity>input {

            width: 40px;

            padding: 5px;

            text-align: center;

        }

        .fa {

            margin-right: 5px;

        }

        .cart-total {

            flex: 0.25;

            margin-left: 20px;

            padding: 20px;

            height: 240px;

            border: 1px solid silver;

            border-radius: 5px;

        }

        .cart-total p {

            display: flex;

            justify-content: space-between;

            margin-bottom: 30px;

            font-size: 20px;

        }

        .cart-total button {

            display: block;

            text-align: center;
            height: 40px;
            width: 300px;
            line-height: 40px;

            background-color: tomato;

            color: white;
            border: none;
            text-decoration: none;
            cursor: pointer;

        }

        .cart-total button:hover {

            background-color: red;

        }

        @media screen and (max-width: 700px) {

            .remove {

                display: none;

            }

            .product {

                height: 150px;

            }

            .product>img {

                height: 150px;

                width: 200px;

            }

            .product-name,
            .product-price,
            .product-offer {

                margin-bottom: 10px;

            }

        }

        @media screen and (max-width: 900px) {
            .cart {
                flex-direction: column;
            }

            .cart-total {
                margin-left: 0;
                margin-bottom: 20px;
            }

        }

        @media screen and (max-width: 1220px) {

            .service-container {

                max-width: 95%;

            }

        }
    </style>
    <!--=============== HEADER ===============-->
    <%- include("nav")%>

        <main class="main">

            <div class="service-container">

                <h1>Make Payment To continue</h1>

                <div class="cart">

                    <div class="products">

                        <div class="product">

                            <img src="img/bike.svg">

                            <div class="product-info">

                                <h3 class="product-name">Bike Washing</h3>

                                <h4 class="product-price">₹ 500</h4>

                                <h4 class="product-offer">offer :50%</h4>

                            </div>

                        </div>
                        <h2 style="text-align: center; margin-bottom: 5px;">OR</h2>

                        <div class="product">

                            <img src="img/car.svg">

                            <div class="product-info">

                                <h3 class="product-name">Car Washing</h3>

                                <h4 class="product-price">₹ 500</h4>

                                <h4 class="product-offer">offer :50%</h4>



                            </div>

                        </div>

                    </div>

                    <div class="cart-total">

                        <p>

                            <span>Total Price</span>

                            <span>₹ 500</span>

                        </p>

                        <p>

                            <span>Number of Items</span>

                            <span>1</span>

                        </p>

                        <p>

                            <span>You Save</span>

                            <span>₹ 500</span>

                        </p>

                        <!-- <a href="#">Proceed to Checkout</a> -->
                        <button id="checkout-btn">Proceed to Checkout</button>

                    </div>

                </div>

            </div>


            <%- include("footer") %>
</body>


</html>


</main>

<!-- ScRIPTs -->
<script>
    const button = document.getElementById("checkout-btn")
    button.addEventListener("click", () => {
        fetch("http://localhost:4000/create-checkout-session", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                items: [
                    { id: 1, quantity: 1 },
                ],
            }),
        })
            .then(res => {
                if (res.ok) return res.json()
                return res.json().then(json => Promise.reject(json))
            })
            .then(({ url }) => {
                window.location = url
            })
            .catch(e => {
                console.error(e.error)
            })
    })
</script>
</body>

</html>