<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">

    <!--=============== BOXICONS ===============-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">


    <title>Terms and Conditions</title>
</head>

<body>
    <style>
        .terms-header {
            text-align: center;
            margin-top: 70px;
        }

        .termss {

            text-align: center;
            padding-left: 5%;
            padding-right: 5%;
            padding-bottom: 10px;
            padding-top: 10px;
        }
    </style>
    <%- include("nav") %>
        <div class="container">
            <div class="terms-header">
                <h1>Terms and Conditions</h1>
            </div>
            <section class="termss">
                <h4>BOOKING:</h4>
                <p>Bookings are deemed to be placed with Speed Car Wash booking portal. Bookings may also be made by
                    calling the
                    site phone and speaking to the supervisor. Payment is made using cash or Credit/Debit card (Subject
                    to
                    availability). Speed Car Wash reserves the right to cancel or restrict bookings subject to
                    availability</p>
                <h4>PRICING:</h4>
                <p>All prices are listed on our service menu which can be found on the site. We reserve the right to
                    change
                    pricing without prior notice.</p>
                <h4>PAYMENT:</h4>
                <p>You are required to make the payment for your car wash when you return to pick up your vehicle, at
                    the price
                    set out in our service menu.</p>
                <h5></h5>
                <p></p>
            </section>

        </div>
        <%- include("footer") %>
            <script src="js/main.js"></script>
</body>

</html>